BCAppCode/P1-Implmentation/copy.txt
{
    "name": "pl_execute_reference",
    "properties": {
        "activities": [
            {
                "name": "nb_get_p1_reference_taskconfig",
                "type": "TridentNotebook",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "notebookId": "6e7b4814-5818-4715-9275-f6ad72743221",
                    "workspaceId": "c5097ffb-b78e-441d-9575-a82bac23cac8",
                    "parameters": {
                        "p_config_ids_json": {
                            "value": "[[88]",
                            "type": "string"
                        },
                        "p_methods_json": {
                            "value": "[[\"SaveClinic\",\"Save3pSetup\",\"SaveCodes\",\"SaveServices\",\"SavedropDownListItems\",\"SaveCustomAnswers\",\"SaveCustomQuestions\",\"SavePreAdmissionV6\",\"SavePreAdminReferrals\"]",
                            "type": "string"
                        },
                        "p_only_active": {
                            "value": "true",
                            "type": "string"
                        },
                        "p_require_site": {
                            "value": "true",
                            "type": "string"
                        },
                        "p_require_database": {
                            "value": "true",
                            "type": "string"
                        },
                        "p_require_source_table": {
                            "value": "true",
                            "type": "string"
                        }
                    }
                }
            },
            {
                "name": "flt_active_p1_reference_sites",
                "type": "Filter",
                "dependsOn": [
                    {
                        "activity": "nb_get_p1_reference_taskconfig",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "items": {
                        "value": "@json(activity('nb_get_p1_reference_taskconfig').output.result.exitValue)",
                        "type": "Expression"
                    },
                    "condition": {
                        "value": "@and(and(equals(item().ConfigId, 88), equals(item().IsActive, 1)), and(or(equals(item().Method, 'SaveClinic'), or(equals(item().Method, 'Save3pSetup'), or(equals(item().Method, 'SaveCodes'), or(equals(item().Method, 'SaveServices'), or(equals(item().Method, 'SavedropDownListItems'), or(equals(item().Method, 'SaveCustomAnswers'), or(equals(item().Method, 'SaveCustomQuestions'), or(equals(item().Method, 'SavePreAdmissionV6'), equals(item().Method, 'SavePreAdminReferrals'))))))))), and(not(equals(item().SiteCode, null)), and(not(equals(item().DataBaseName, null)), not(equals(item().SourceTable, null))))))",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "nb_p1_reference_audit_start",
                "type": "TridentNotebook",
                "dependsOn": [
                    {
                        "activity": "flt_active_p1_reference_sites",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "notebookId": "32503e1c-b4a8-4f36-8bfa-988562250c2f",
                    "workspaceId": "c5097ffb-b78e-441d-9575-a82bac23cac8",
                    "parameters": {
                        "p_mode": {
                            "value": "START_LAYER_RUNS",
                            "type": "string"
                        },
                        "p_config_name_prefix": {
                            "value": "SAMMS P1 Reference",
                            "type": "string"
                        },
                        "p_pipeline_name": {
                            "value": "pl_execute_reference",
                            "type": "string"
                        },
                        "p_pipeline_path": {
                            "value": "/pipelines/pl_execute_reference",
                            "type": "string"
                        },
                        "p_triggered_by": {
                            "value": "Fabric",
                            "type": "string"
                        }
                    }
                }
            },
            {
                "name": "Executed_AfterBronz",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "nb_p1_reference_audit_start",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "27f7d826-722f-4eef-a260-17ae96a47fec",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "p_ingest_run_id": {
                            "value": "@if(or(equals(pipeline().parameters.p_ingest_run_id, ''), equals(pipeline().parameters.p_ingest_run_id, null)), pipeline().RunId, pipeline().parameters.p_ingest_run_id)",
                            "type": "Expression"
                        },
                        "p_work_date": {
                            "value": "@pipeline().parameters.p_work_date",
                            "type": "Expression"
                        },
                        "p_lookback_days": {
                            "value": "@pipeline().parameters.p_lookback_days",
                            "type": "Expression"
                        },
                        "p_sites": {
                            "value": "@activity('flt_active_p1_reference_sites').output.value",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "set_bronze_method_results_from_child",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Executed_AfterBronz",
                        "dependencyConditions": [
                            "Completed"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "variableName": "v_bronze_method_results_json",
                    "value": {
                        "value": "@coalesce(if(and(contains(activity('Executed_AfterBronz').output, 'pipelineReturnValue'), contains(activity('Executed_AfterBronz').output.pipelineReturnValue, 'v_bronze_method_results_json')), string(activity('Executed_AfterBronz').output.pipelineReturnValue['v_bronze_method_results_json']), null), if(and(contains(activity('Executed_AfterBronz').output, 'PipelineReturnValue'), contains(activity('Executed_AfterBronz').output.PipelineReturnValue, 'v_bronze_method_results_json')), string(activity('Executed_AfterBronz').output.PipelineReturnValue['v_bronze_method_results_json']), null), if(equals(activity('Executed_AfterBronz').Status,'Succeeded'), '{\"P1Reference\":{\"status\":\"SUCCESS\",\"failed_stage\":\"\",\"error_message\":null}}', '{\"P1Reference\":{\"status\":\"FAILED\",\"failed_stage\":\"BR\",\"error_message\":\"Reference Bronze child pipeline failed\"}}'))",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Executed_AfterSilver",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "set_bronze_method_results_from_child",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "c7cd6646-0b16-4b18-901b-e080e8d91629",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "p_ingest_run_id": {
                            "value": "@if(or(equals(pipeline().parameters.p_ingest_run_id, ''), equals(pipeline().parameters.p_ingest_run_id, null)), pipeline().RunId, pipeline().parameters.p_ingest_run_id)",
                            "type": "Expression"
                        },
                        "p_bronze_method_results_json": {
                            "value": "@variables('v_bronze_method_results_json')",
                            "type": "Expression"
                        },
                        "p_sites_json": {
                            "value": "@string(activity('flt_active_p1_reference_sites').output.value)",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "set_silver_method_results_from_child",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Executed_AfterSilver",
                        "dependencyConditions": [
                            "Completed"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "variableName": "v_silver_method_results_json",
                    "value": {
                        "value": "@coalesce(if(and(contains(activity('Executed_AfterSilver').output, 'pipelineReturnValue'), contains(activity('Executed_AfterSilver').output.pipelineReturnValue, 'v_silver_method_results_json')), string(activity('Executed_AfterSilver').output.pipelineReturnValue['v_silver_method_results_json']), null), if(and(contains(activity('Executed_AfterSilver').output, 'PipelineReturnValue'), contains(activity('Executed_AfterSilver').output.PipelineReturnValue, 'v_silver_method_results_json')), string(activity('Executed_AfterSilver').output.PipelineReturnValue['v_silver_method_results_json']), null), if(equals(activity('Executed_AfterSilver').Status,'Succeeded'), '{\"P1Reference\":{\"status\":\"SUCCESS\",\"failed_stage\":\"\",\"error_message\":null}}', '{\"P1Reference\":{\"status\":\"FAILED\",\"failed_stage\":\"SL\",\"error_message\":\"Reference Silver child pipeline failed\"}}'))",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "if_all_reference_methods_success",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "set_silver_method_results_from_child",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "expression": {
                        "value": "@and(not(contains(variables('v_bronze_method_results_json'),'FAILED')),and(not(contains(variables('v_bronze_method_results_json'),'ERROR')),and(not(contains(variables('v_bronze_method_results_json'),'SKIPPED')),and(not(contains(variables('v_silver_method_results_json'),'FAILED')),and(not(contains(variables('v_silver_method_results_json'),'ERROR')),not(contains(variables('v_silver_method_results_json'),'SKIPPED')))))))",
                        "type": "Expression"
                    },
                    "ifFalseActivities": [
                        {
                            "name": "nb_p1_reference_audit_finalize_failure",
                            "type": "TridentNotebook",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "notebookId": "32503e1c-b4a8-4f36-8bfa-988562250c2f",
                                "workspaceId": "c5097ffb-b78e-441d-9575-a82bac23cac8",
                                "parameters": {
                                    "p_mode": {
                                        "value": "FINALIZE_FAILURE",
                                        "type": "string"
                                    },
                                    "p_config_name_prefix": {
                                        "value": "SAMMS P1 Reference",
                                        "type": "string"
                                    },
                                    "p_pipeline_name": {
                                        "value": "pl_execute_reference",
                                        "type": "string"
                                    },
                                    "p_pipeline_path": {
                                        "value": "/pipelines/pl_execute_reference",
                                        "type": "string"
                                    },
                                    "p_audit_context_json": {
                                        "value": {
                                            "value": "@activity('nb_p1_reference_audit_start').output.result.exitValue",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    },
                                    "p_ingest_run_id": {
                                        "value": {
                                            "value": "@if(or(equals(pipeline().parameters.p_ingest_run_id, ''), equals(pipeline().parameters.p_ingest_run_id, null)), pipeline().RunId, pipeline().parameters.p_ingest_run_id)",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    },
                                    "p_sites_json": {
                                        "value": {
                                            "value": "@string(activity('flt_active_p1_reference_sites').output.value)",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    },
                                    "p_bronze_method_results_json": {
                                        "value": {
                                            "value": "@variables('v_bronze_method_results_json')",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    },
                                    "p_silver_method_results_json": {
                                        "value": {
                                            "value": "@variables('v_silver_method_results_json')",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    },
                                    "p_status": {
                                        "value": "FAILED",
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    ],
                    "ifTrueActivities": [
                        {
                            "name": "nb_p1_reference_audit_finalize_success",
                            "type": "TridentNotebook",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "notebookId": "32503e1c-b4a8-4f36-8bfa-988562250c2f",
                                "workspaceId": "c5097ffb-b78e-441d-9575-a82bac23cac8",
                                "parameters": {
                                    "p_mode": {
                                        "value": "FINALIZE_SUCCESS",
                                        "type": "string"
                                    },
                                    "p_config_name_prefix": {
                                        "value": "SAMMS P1 Reference",
                                        "type": "string"
                                    },
                                    "p_pipeline_name": {
                                        "value": "pl_execute_reference",
                                        "type": "string"
                                    },
                                    "p_pipeline_path": {
                                        "value": "/pipelines/pl_execute_reference",
                                        "type": "string"
                                    },
                                    "p_audit_context_json": {
                                        "value": {
                                            "value": "@activity('nb_p1_reference_audit_start').output.result.exitValue",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    },
                                    "p_ingest_run_id": {
                                        "value": {
                                            "value": "@if(or(equals(pipeline().parameters.p_ingest_run_id, ''), equals(pipeline().parameters.p_ingest_run_id, null)), pipeline().RunId, pipeline().parameters.p_ingest_run_id)",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    },
                                    "p_sites_json": {
                                        "value": {
                                            "value": "@string(activity('flt_active_p1_reference_sites').output.value)",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    },
                                    "p_bronze_method_results_json": {
                                        "value": {
                                            "value": "@variables('v_bronze_method_results_json')",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    },
                                    "p_silver_method_results_json": {
                                        "value": {
                                            "value": "@variables('v_silver_method_results_json')",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    },
                                    "p_status": {
                                        "value": "SUCCESS",
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "nb_p1_reference_notify_failed",
                "type": "TridentNotebook",
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded",
                "dependsOn": [
                    {
                        "activity": "if_all_reference_methods_success",
                        "dependencyConditions": [
                            "Failed",
                            "Skipped"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "notebookId": "77c87686-120d-486b-9146-6a794d794e38",
                    "workspaceId": "c5097ffb-b78e-441d-9575-a82bac23cac8",
                    "parameters": {
                        "Pipeline_Name": {
                            "value": "P1 Reference ETL",
                            "type": "string"
                        },
                        "Status": {
                            "value": "Failed",
                            "type": "string"
                        },
                        "Config_Name": {
                            "value": "SAMMS P1 Reference",
                            "type": "string"
                        },
                        "Source_System": {
                            "value": "SAMMS",
                            "type": "string"
                        },
                        "Target_Name": {
                            "value": "ALL",
                            "type": "string"
                        },
                        "Environment_Name": {
                            "value": "BHG-DATA-PLATFORM-CORE-DEV",
                            "type": "string"
                        },
                        "Run_Id": {
                            "value": {
                                "value": "@pipeline().RunId",
                                "type": "Expression"
                            },
                            "type": "string"
                        },
                        "Description": {
                            "value": "P1 Reference pipeline failed or audit finalization failed. See error details.",
                            "type": "string"
                        },
                        "Error_Msg": {
                            "value": {
                                "value": "@concat('Failed items only: ',if(and(contains(variables('v_bronze_method_results_json'),'SaveClinic'),not(equals(json(variables('v_bronze_method_results_json'))['SaveClinic']['status'],'SUCCESS'))),concat('BR SaveClinic - ',string(json(variables('v_bronze_method_results_json'))['SaveClinic']['error_message']),'; '),''),if(and(contains(variables('v_bronze_method_results_json'),'Save3pSetup'),not(equals(json(variables('v_bronze_method_results_json'))['Save3pSetup']['status'],'SUCCESS'))),concat('BR Save3pSetup - ',string(json(variables('v_bronze_method_results_json'))['Save3pSetup']['error_message']),'; '),''),if(and(contains(variables('v_bronze_method_results_json'),'SaveCodes'),not(equals(json(variables('v_bronze_method_results_json'))['SaveCodes']['status'],'SUCCESS'))),concat('BR SaveCodes - ',string(json(variables('v_bronze_method_results_json'))['SaveCodes']['error_message']),'; '),''),if(and(contains(variables('v_bronze_method_results_json'),'SaveServices'),not(equals(json(variables('v_bronze_method_results_json'))['SaveServices']['status'],'SUCCESS'))),concat('BR SaveServices - ',string(json(variables('v_bronze_method_results_json'))['SaveServices']['error_message']),'; '),''),if(and(contains(variables('v_bronze_method_results_json'),'SavedropDownListItems'),not(equals(json(variables('v_bronze_method_results_json'))['SavedropDownListItems']['status'],'SUCCESS'))),concat('BR SavedropDownListItems - ',string(json(variables('v_bronze_method_results_json'))['SavedropDownListItems']['error_message']),'; '),''),if(and(contains(variables('v_bronze_method_results_json'),'SaveCustomAnswers'),not(equals(json(variables('v_bronze_method_results_json'))['SaveCustomAnswers']['status'],'SUCCESS'))),concat('BR SaveCustomAnswers - ',string(json(variables('v_bronze_method_results_json'))['SaveCustomAnswers']['error_message']),'; '),''),if(and(contains(variables('v_bronze_method_results_json'),'SaveCustomQuestions'),not(equals(json(variables('v_bronze_method_results_json'))['SaveCustomQuestions']['status'],'SUCCESS'))),concat('BR SaveCustomQuestions - ',string(json(variables('v_bronze_method_results_json'))['SaveCustomQuestions']['error_message']),'; '),''),if(and(contains(variables('v_bronze_method_results_json'),'SavePreAdmissionV6'),not(equals(json(variables('v_bronze_method_results_json'))['SavePreAdmissionV6']['status'],'SUCCESS'))),concat('BR SavePreAdmissionV6 - ',string(json(variables('v_bronze_method_results_json'))['SavePreAdmissionV6']['error_message']),'; '),''),if(and(contains(variables('v_bronze_method_results_json'),'SavePreAdminReferrals'),not(equals(json(variables('v_bronze_method_results_json'))['SavePreAdminReferrals']['status'],'SUCCESS'))),concat('BR SavePreAdminReferrals - ',string(json(variables('v_bronze_method_results_json'))['SavePreAdminReferrals']['error_message']),'; '),''),if(and(contains(variables('v_silver_method_results_json'),'SaveClinic'),equals(json(variables('v_silver_method_results_json'))['SaveClinic']['status'],'FAILED')),concat('SL SaveClinic - ',string(json(variables('v_silver_method_results_json'))['SaveClinic']['message']),'; '),''),if(and(contains(variables('v_silver_method_results_json'),'Save3pSetup'),equals(json(variables('v_silver_method_results_json'))['Save3pSetup']['status'],'FAILED')),concat('SL Save3pSetup - ',string(json(variables('v_silver_method_results_json'))['Save3pSetup']['message']),'; '),''),if(and(contains(variables('v_silver_method_results_json'),'SaveCodes'),equals(json(variables('v_silver_method_results_json'))['SaveCodes']['status'],'FAILED')),concat('SL SaveCodes - ',string(json(variables('v_silver_method_results_json'))['SaveCodes']['message']),'; '),''),if(and(contains(variables('v_silver_method_results_json'),'SaveServices'),equals(json(variables('v_silver_method_results_json'))['SaveServices']['status'],'FAILED')),concat('SL SaveServices - ',string(json(variables('v_silver_method_results_json'))['SaveServices']['message']),'; '),''),if(and(contains(variables('v_silver_method_results_json'),'SavedropDownListItems'),equals(json(variables('v_silver_method_results_json'))['SavedropDownListItems']['status'],'FAILED')),concat('SL SavedropDownListItems - ',string(json(variables('v_silver_method_results_json'))['SavedropDownListItems']['message']),'; '),''),if(and(contains(variables('v_silver_method_results_json'),'SaveCustomAnswers'),equals(json(variables('v_silver_method_results_json'))['SaveCustomAnswers']['status'],'FAILED')),concat('SL SaveCustomAnswers - ',string(json(variables('v_silver_method_results_json'))['SaveCustomAnswers']['message']),'; '),''),if(and(contains(variables('v_silver_method_results_json'),'SaveCustomQuestions'),equals(json(variables('v_silver_method_results_json'))['SaveCustomQuestions']['status'],'FAILED')),concat('SL SaveCustomQuestions - ',string(json(variables('v_silver_method_results_json'))['SaveCustomQuestions']['message']),'; '),''),if(and(contains(variables('v_silver_method_results_json'),'SavePreAdmissionV6'),equals(json(variables('v_silver_method_results_json'))['SavePreAdmissionV6']['status'],'FAILED')),concat('SL SavePreAdmissionV6 - ',string(json(variables('v_silver_method_results_json'))['SavePreAdmissionV6']['message']),'; '),''),if(and(contains(variables('v_silver_method_results_json'),'SavePreAdminReferrals'),equals(json(variables('v_silver_method_results_json'))['SavePreAdminReferrals']['status'],'FAILED')),concat('SL SavePreAdminReferrals - ',string(json(variables('v_silver_method_results_json'))['SavePreAdminReferrals']['message']),'; '),''),if(and(not(contains(variables('v_bronze_method_results_json'),'FAILED')),not(contains(variables('v_silver_method_results_json'),'FAILED'))),'Pipeline failed but no method-level FAILED status was returned. Check Fabric activity details.',''))",
                                "type": "Expression"
                            },
                            "type": "string"
                        },
                        "Pipeline_StartTime": {
                            "value": {
                                "value": "@formatDateTime(convertFromUtc(pipeline().TriggerTime, 'Central Standard Time'), 'yyyy-MM-dd HH:mm:ss')",
                                "type": "Expression"
                            },
                            "type": "string"
                        },
                        "Pipeline_EndTime": {
                            "value": {
                                "value": "@formatDateTime(convertFromUtc(utcNow(), 'Central Standard Time'), 'yyyy-MM-dd HH:mm:ss')",
                                "type": "Expression"
                            },
                            "type": "string"
                        }
                    }
                }
            }
        ],
        "parameters": {
            "p_ingest_run_id": {
                "type": "string"
            },
            "p_work_date": {
                "type": "string",
                "defaultValue": "2026-07-07"
            },
            "p_lookback_days": {
                "type": "int",
                "defaultValue": 15
            }
        },
        "variables": {
            "v_bronze_method_results_json": {
                "type": "String",
                "defaultValue": "{}"
            },
            "v_silver_method_results_json": {
                "type": "String",
                "defaultValue": "{}"
            }
        },
        "lastModifiedByObjectId": "97b3856e-ed4b-4c79-b2e1-24a4a133bab5",
        "lastPublishTime": "2026-07-07T19:32:51Z"
    }
}